

h1 {
    font-family: sans-serif;
    margin: 200px;
    padding: 0;
    color: #ffffff;
    text-align: center;
    font-size: 3.0rem; /* Agranda el texto */
   
}



/* Estilos para la galería de imágenes */
.image-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    margin-top: 40px;
   
}

.image-gallery img {
    width: 200px;
    height: auto;
    border: 1px solid #ccc;
    padding: 5px;
    transition: transform 0.3s ease;
}

.image-gallery img:hover {
    transform: scale(1.1);
}

.galeria,
.image-gallery {
    width: 90%;
    margin: auto;
    list-style: none;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    margin-top: 20px; /* Ajusta este valor para mover la galería hacia arriba o hacia abajo */
}

.galeria img,
.image-gallery img {
    width: auto;
    height: 150px; /* Ajusta la altura según tus necesidades */
    border: 1px solid #ccc;
    padding: 5px;
    transition: transform 0.3s ease;
    object-fit: cover; /* Para asegurarse de que las imágenes se ajusten correctamente */
}

.galeria img:hover,
.image-gallery img:hover {
    transform: scale(1.1);
}


/* Estilos del Modal */
.modal {
    display: none;
}

.modal:target {
    display: block;
    position: fixed;
    background: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.modal h3 {
    color: #fff;
    font-size: 30px;
    text-align: center;
    margin: 15px 0;
}

.imagen {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagen a {
    color: #fff;
    font-size: 40px;
    text-decoration: none;
    margin: 0 10px;
}

.imagen img {
    width: 500px;
    height: auto;
    max-width: 100%;
    border: 7px solid #fff;
    box-sizing: border-box;
}

.cerrar {
    display: block;
    background: #fff;
    width: 25px;
    height: 25px;
    margin: 15px auto;
    text-align: center;
    text-decoration: none;
    font-size: 25px;
    color: #000;
    padding: 5px;
    border-radius: 50%;
    line-height: 25px;
}


/* Estilos del Pie de Página */
footer.Derechos {
    height: var(--footer-height, 60px);
    background-color: var(--footer-bg-color, #ffffff);
    color: var(--footer-text-color, #000000);
    text-align: center;
    line-height: 1.5;
    bottom: 0;
    width: 100%;
    padding: var(--footer-padding, -2px) 0;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    position: fixed;
}

/* Estilos del Contenido Desplazable */
.scrollable-content {
    padding-bottom: 50px;
    box-sizing: border-box;
}

/* Estilos Específicos de Secciones */
.scrollable-content1:nth-of-type(1) {
    padding: 20px;
    background-color: #ffffff;
    margin-top: 255px;
    margin-bottom: 10px;
    text-align: center;
}

.scrollable-content1:nth-of-type(1) h2 {
    font: small-caps 250%/63% serif;
    color: #000000;
    margin-bottom: 15px;
}

.scrollable-content:nth-of-type(2) {
    padding: 20px;
    background-color: #ffffff;
    margin-top: 10px;
    margin-bottom: 40px;
    text-align: center;
}

.scrollable-content:nth-of-type(2) img {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 600px;
    transition: transform 0.3s ease-in-out;
}

.scrollable-content:nth-of-type(2):hover img {
    transform: scale(1.1);
}

.scrollable-content:nth-of-type(3) {
    padding: 20px;
    background-color: #e2d9d9;
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: center;
}

.scrollable-content:nth-of-type(3) h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #000000;
    margin-bottom: 20px;
}


/* Estilos para el encabezado */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #00000065;
    color: #e4e2de98;
    background-attachment: fixed;
}

header .menu-btn {
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
    display: none; /* Oculto por defecto en pantallas grandes */
}


/* Estilos para el menú de escritorio parte de arriva */
.menu-desktop ul {
    display: flex; /* Utiliza flexbox para alinear los elementos horizontalmente */
    list-style: none; /* Elimina los puntos de la lista */
    padding: 0;
    margin: 0;
    justify-content: center; /* Centra los elementos horizontalmente */
}

.menu-desktop ul li {
    margin-right: -5px; /* Espacio entre los elementos de la lista */
    flex:0.1px; /* Permite que los elementos crezcan, se encojan y se ajusten automáticamente */

}

.menu-desktop ul li a {
    background: #00000000;
    color: #ffe600;
    border: none;
    position: relative;
    height: 57px; /*altura de las letras adentro de las lineas*/
    font-size: 1.3em;/*Tamaño de la letra*/
    padding: 0 1.8em; /*separacion entre botones*/
    cursor: pointer;
    transition: 800ms ease all;
    outline: none;
    text-decoration: none; /* Para quitar el subrayado del enlace */
    display: inline-block; /* Para hacer que el enlace se comporte como un botón */
    line-height: 60px; /* Centrar el texto verticalmente */
}

.menu-desktop ul li a:hover {
    background-color: rgba(255, 255, 255, 0.123);
    color: #ffd900; /*letra al pasar el cursor*/
    font-family: inherit;
    margin-bottom: 0px; /*MOvimiento de los botones*/
}

.menu-desktop ul li a:before, .menu-desktop ul li a:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 2px; /*Grosor de las lineas */
    width: 0;
    background: #ffc400; /*Color de las lineas*/
    transition: 400ms ease all;
}

.menu-desktop ul li a:after {
    right: inherit;
    top: inherit;
    left: 0;
    bottom: 0;
}

.menu-desktop ul li a:hover:before, .menu-desktop ul li a:hover:after {
    width: 100%;
    transition: 800ms ease all;
}

/**************************************************/
/* Estilos para el menú móvil */
.menu-mobile {
    position: fixed;
    color: #ff0000;
    top: 0;
    right: -250px;
    width: 250px;
    height: 100%;
    background-color: #000000de;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0);
    transition: right 0.3s ease;
    z-index: 999;
    display: none;
    flex-direction: column;
    padding-top: 80px; /* Añade espacio en la parte superior para el encabezado */
}

.menu-mobile.menu-open {
    right: 0;
    display: flex;
}

.menu-btn {
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
}

@media (min-width: 769px) {
    .menu-mobile {
        display: none;
    }
}

/* Botón de cierre del menú */
.close-btn {
    position: absolute;
    top: 21px;
    right: 20px;
    background: none;
    border: none;
    font-size: 24px;
    color: #ffffff; /* Cambia el color según tus preferencias */
    cursor: pointer;
    transition: transform 0.3s ease, color 0.3s ease;
}

.close-btn:hover {
    transform: rotate(180deg);
    color: #ffffff; /* Cambia a rojo al pasar el ratón */
}

/* Estilos para los enlaces del menú móvil */
.menu-mobile ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu-mobile li {
    padding: 15px;
    border-top: 1px solid #da0707;
}

.menu-mobile li:first-child {
    border-top: none;
}

.menu-mobile a {
    text-decoration: none;
    color: #ffe600;
    font-size: 18px;
    transition: color 0.1s ease;
}

.menu-mobile a:hover {
    color: #ffffff;
}

/* Estilos para pantallas pequeñas */
@media (max-width: 768px) {
    header .menu-btn {
        display: block;
        cursor: pointer;
        font-size: 24px;
        color: #ffffff;
        transition: transform 0.3s ease, color 0.3s ease;
        position: absolute;
        top: 20px;
        right: 20px;
    }
    .close-btn:hover {
        transform: rotate(90deg);
        color: #ffe600; /* Cambia a rojo al pasar el ratón */
    }
    .menu-desktop {
        display: none;
    }

    .menu-mobile {
        display: flex;
    }

    .menu-mobile ul {
        flex-direction: column;
        padding: 0;
    }

    .menu-mobile li {
        padding: 10px;
        border-top: 1px solid #fbff00;
    }
}


/* Estilos Responsivos */
@media (max-width: 768px) {
    header .menu-btn {
        display: block;
        cursor: pointer;
        font-size: 24px;
        color: #000;
        position: absolute;
        top: 20px;
        right: 20px;
    }

    .menu-desktop {
        display: none;
    }

    .menu-mobile {
        display: flex;
    }

    .menu-mobile ul {
        flex-direction: column;
        padding: 0;
    }

    .menu-mobile li {
        padding: 10px;
        border-top: 1px solid #888787;
    }
}
/* seccion spsn*/
/* Define los estilos para las clases b-l-text-c y logo-text-cell */
.b-l-text-c {
    color: blue; /* Cambia este valor según tus necesidades */
    font-size: 20px; /* Cambia este valor según tus necesidades */
}

.logo-text-cell {
    font-weight: bold;
    padding: 5px; /* Cambia este valor según tus necesidades */
}